<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List App by Tanvir</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body class="max-w-[1440px] mx-auto flex flex-col items-center">
    <header class="w-1/2 flex flex-col items-center pt-12 lg:pt-28">
        <div class="mb-10"> 
            <a class="text-5xl font-extrabold">To Do List</a>
          </div>
        <div class="navbar justify-center">
            <div class="mb-10">
              <ul class="menu menu-horizontal gap-8 px-1 text-3xl font-semibold text-sky-400">
                <li class="bg-slate-300 rounded-lg"><a>Daily</a></li>
                <li class="bg-slate-300 rounded-lg"><a>Work</a></li>
              </ul>
            </div>
          </div>
    </header>
    <main>
        