<%- include('partials/header.ejs') %>
<div class="flex pb-10">
<% if(locals.list) {%>
    
        <ul class="flex flex-col gap-2 mx-auto w-1/2">
            <% list.forEach((items) => { %>
                <li class="flex gap-3 p-5 rounded-lg border-slate-500 border-[1px] text-xl font-medium">
                    <input type="checkbox" class="checkbox" /> <%= items %>
                </li>
           <% }); %> 
        </ul>
        <% } %>

    </div>
    
    
<form action="/work" method="POST" class="flex mb-10 gap-5 justify-center">
    <input type="text" name="newTask" placeholder="Add New Task" class="rounded-lg border-2 border-slate-800
    p-5">
    <input type="submit" value="Add Task" class="px-10 py-5 rounded-lg cursor-pointer text-white font-medium text-2xl bg-slate-500">
  </form>
<%- include('partials/footer.ejs') %>